@mixin for-size($range) {
	$mobileLandscape: 481px;
	$tablet: 768px;
	$desktop: 993px;
	$desktopLarge: 1200px;

	@if $range == mobile-landscape {
		@media (min-width: $mobileLandscape) {
			@content;
		}
	} @else if $range == tablet {
		@media (min-width: $tablet) {
			@content;
		}
	} @else if $range == desktop {
		@media (min-width: $desktop) {
			@content;
		}
	} @else if $range == desktop-large {
		@media (min-width: $desktopLarge) {
			@content;
		}
	}
}

.data-form {
	width: 200px;
	margin: 0 auto;
	text-align: center;

	@include for-size(mobile-landscape) {
		width: 300px;
	}

	@include for-size(tablet) {
		width: 520px;
	}

}